
@font-face {
    font-family: lobster;
    src: url(../Assets/Lobster-1.4.otf);
}
@font-face {
    font-family: helveticrap;
    src: url(../Assets/Helveticrap.ttf);
}

body{
    position: absolute;
    height: 95%;
    width: 95%;
    background: url(../Assets/XForest.png) no-repeat center fixed;
}

div{
    padding: 3px;
    margin: 3px;
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.main{
    position: relative;
    
    width: 90%;
    height: 90%;
    
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
    margin-bottom: 3%;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.sub{
    background: rgb(0,0,0,0.5);
    backdrop-filter: blur(2px);
    padding: 5px;
    border-radius: 15px;
}

.buttons{
    grid-column: 1;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 7px;
}

.button{
    background-color: rgba(163, 221, 255, 0.5);

    border-radius: 10px;

}

.wide{
    grid-column: span 2;
}

.button:hover,
.button:focus {
    scale: 1.05;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    filter: brightness(1.80);
}

.button:active{
    filter: brightness(0.90);
    transform: scale(0.95);
}

.pump{
    grid-column: span 2;
    background: rgba(163, 255, 255, 0.5);
}

.pump:hover{
    scale: 1.05;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    filter: brightness(1.80);
}

.pump:active{
    transform: scale(0.95);
}

.button-h3{
    height: fit-content;

    font-family: lobster;
    font-size: 50px;
}

.multi{
    padding: 0px;

    grid-column: 2 / span 2;

    display: grid;
    grid-template-columns: auto auto auto;
}

.keypadwrapper{
    background: rgba(255, 255, 255, 0.5);
    
    margin: 10px;

    border-radius: 10px;
}

.keypadout{
    border: 3px black solid;
    border-radius: 10px;
    
    text-align: center;
    
    font-size: 40px;
}

.keypad{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    
}
.key{
    background-color: rgba(163, 221, 255, 0.5);

    border: 3px black solid;
    border-radius: 10px;

    height: 75px;
    width: 75px;

    font-size: 40px;

    margin: 3px;
}

.cardreader{
    
    border: 3px black solid;
    border-radius: 10px;

    text-align: center;
}

.cardreader h1{
    font-size: 30px;

    margin: 3px;
}

.guide{
    margin: 10px;
    
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.5);
}

.guide ol, li{
    width: fit-content;

    font-size: 22px;
}

.prices{  
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    display: grid;
}

.price{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

}

.price h2{
    font-size: 30px;
    font-family: fantasy;
}

.display{
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;

    overflow: hidden;

    display: grid;
    grid-template-columns: auto auto;
    
}

.event{
    /*
    background: rgba(255, 255, 255, 0.5);
    */
    border-radius: 10px;

    padding: 0px;

    min-height: 180px;
    display: grid;
    grid-template-columns: auto auto;
}

.bar{
    background: rgba(255, 255, 255, 0.5);
    
    border-radius: 10px;
}

.buyForSub{
    border-radius: 10px;

    font-family: helveticrap;
}